.navbar {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.leftSide {
  display: flex;
  flex-direction: row !important;
}

.toolbar {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.menuButton,
.notificationsIcon,
.infoIcon,
.settingsIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  font-weight: 700 !important;
  font-size: 1.5em !important;
}

.rightSide {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
  margin-right: 1.5em;
  cursor: pointer;
}
